<ion-content [fullscreen]="true">
  <app-header></app-header> <!-- Usar el componente Header -->

  <!-- Banner de bienvenida -->
  <div class="page-banner">
    <h1>Tienda Online</h1>
    <p>Encuentra los mejores productos en nuestra tienda virtual</p>
  </div>

  <!-- Lista de productos -->
  <div class="product-grid">
    <ion-card 
      *ngFor="let producto of productos" 
      (click)="goToDetails(producto.id_producto)" 
      class="clickable-card">
      <img [src]="producto.imagen" alt="Imagen del producto" />
      <ion-card-header>
        <ion-card-title>{{ producto.nombre }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Precio:</strong> ${{ producto.precio }}</p>
      </ion-card-content>
    
      <!-- Botón para agregar al carrito con un margen adicional -->
      <ion-button 
        expand="full" 
        color="danger" 
        (click)="addToCart(producto); $event.stopPropagation();" 
        class="add-to-cart-button">
        Agregar al carrito
      </ion-button>
    </ion-card>
  </div>
  <app-footer></app-footer>
</ion-content>
