<ion-content [fullscreen]="true" class="content-wrapper">
<app-header></app-header> <br><br>


  <div class="form-card">
    <form (submit)="guardarImagen()" #formulario="ngForm" class="upload-form">
      
      <ion-label class="form-label">Título de la foto</ion-label>
      <ion-input
        [(ngModel)]="titulo"
        name="titulo"
        required
        class="custom-input"
        type="text"
        placeholder="Venta martes.. etc"
      ></ion-input>

      <ion-button expand="block" type="button" (click)="seleccionarImagen()" class="upload-button">
        <ion-icon slot="start" name="cloud-upload-outline"></ion-icon>
        Seleccionar imagen
      </ion-button>

      <input type="file" #fileInput hidden (change)="cargarImagen($event)" accept="image/*" />

      <div *ngIf="imagen" class="preview">
        <h3>Vista previa</h3>
        <ion-img [src]="imagen" class="preview-img"></ion-img>
      </div> <br>

      <ion-button
        expand="block"
        type="submit"
        class="submit-button"
        [disabled]="!formulario.valid || !imagen"
      >
        Guardar imagen
      </ion-button>

    </form>
  </div>
</ion-content>
