ion-img {
    width: 100%;
    max-width: 300px; /* Ajusta el tamaño máximo de la imagen */
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  h3 {
    text-align: center;
    margin-top: 20px;
  }
  