<ion-footer>
  <div class="footer-container">
    <!-- Información de Contacto -->
    <div class="footer-section contact-info">
      <h2>Información de Contacto</h2>
      <p><ion-icon name="location-outline"></ion-icon> Calvillo, Aguascalientes, México</p>
      <p><ion-icon name="mail-outline"></ion-icon> contactomicrushdecalvillo.com</p>
      <p><ion-icon name="call-outline"></ion-icon> +52 123 456 7890</p>
    </div>

    <!-- Horarios -->
    <div class="footer-section hours">
      <h2>Horarios</h2>
      <p><strong class="text">Lunes a Viernes:</strong> 9:00 AM - 6:00 PM</p>
      <p><strong>Sábado:</strong> 10:00 AM - 4:00 PM</p>
      <p><strong>Domingo:</strong> Cerrado</p>
    </div>

    <!-- Redes Sociales -->
    <div class="footer-section social-media">
      <h2>Síguenos</h2>
      <div class="social-icons">
        <a href="https://www.facebook.com/micrushdecalvillomx" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a>
        <a href="https://www.instagram.com/micrushdecalvillomx" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
        <a href="https://www.tiktok.com/@micrushdecalvillomx" target="_blank"><ion-icon name="logo-tiktok"></ion-icon></a>
      </div>
    </div>
  </div>
</ion-footer>
