<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Usuarios de la APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">
  <!-- Banner Principal -->
  <div class="admin-banner">
    <h1>Administrar Usuarios</h1>
    <p>Gestionar los usuarios de Mi crush de calvillo
    </p>
  </div>

<!-- Contenido de la página -->
<ion-content id="main-content">

  <!-- Botón flotante para agregar usuario -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="openAddUserModal()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let usuario of usuarios">
        <div class="ticket-card">

          <!-- Imagen y título -->
          <div class="ticket-header">
            <div class="profile-image-container">
              <img *ngIf="usuario.imagen_perfil; else defaultProfileImage" 
                   [src]="usuario.imagen_perfil" 
                   alt="Imagen de perfil" 
                   class="profile-image">
              <ng-template #defaultProfileImage>
                <img src="assets/images/user.png" 
                     alt="Imagen por defecto" 
                     class="profile-image">
              </ng-template>
            </div>
            <div class="ticket-title">{{ usuario.usuario }}</div>
          </div>

          <!-- Línea decorativa de corte -->
          <div class="ticket-divider"></div>

          <!-- Información en lista -->
          <ul class="ticket-info">
            <li><strong>ID:</strong> {{ usuario.id_usuario }}</li>
            <li><strong>Nombre:</strong> {{ usuario.nombre }}</li>
            <li><strong>Email:</strong> {{ usuario.email }}</li>
            <li><strong>Telefono:</strong> {{ usuario.telefono}}</li>
            <li><strong>Tipo de Usuario:</strong> {{ usuario.tipo_usuario }}</li>
            <li><strong>Registrado:</strong> {{ usuario.fecha_registro | date: 'medium' }}</li>
          </ul>

          <!-- Botones de acción -->
          <div class="ticket-actions">
            <ion-button fill="clear" color="primary" (click)="openEditModal(usuario)">
              <ion-icon name="create-outline" slot="start"></ion-icon> Editar
            </ion-button>
            <ion-button fill="clear" color="danger" (click)="confirmDeleteUser(usuario.id_usuario)">
              <ion-icon name="trash-outline" slot="start"></ion-icon> Eliminar
            </ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
