:host {
  display: block;
}

ion-header {
  --background: #f8d7da; /* Fondo suave con color rosado claro */
  --ion-toolbar-background: #ffccd5; /* Barra de herramientas de color suave */
  --ion-title-color: #d6336c; /* Título de la cabecera en rosa fuerte */
  --ion-button-text-color: #fff; /* Color del texto de los botones */
}

ion-toolbar {
  padding: 1rem;
}

ion-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2rem; /* Tamaño grande para llamar la atención */
  color: #000; /* Rosa fuerte para un color vibrante */
  text-transform: uppercase; /* Título en mayúsculas para mayor impacto */
  letter-spacing: 2px; /* Espaciado entre letras para mayor claridad */
  text-align: center;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  background: #fff;
}

.config-container {
  max-width: 700px;
  margin: 0 auto;
  padding-top: 30px;
}

.config-title {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: #d6336c;
  margin-bottom: 20px;
}

.profile-section {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #d6336c;
}

.config-card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #d6336c;
  text-align: center;
  margin-bottom: 20px;
}

ion-item {
  margin-bottom: 15px;
}

ion-label {
  font-weight: 500;
  color: #555;
}

ion-input {
  font-size: 1rem;
  padding: 10px;
}

.save-button {
  background-color: #d6336c;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 10px;
  margin-top: 20px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #c2185b; /* Cambiar a un rosa más fuerte en hover */
  }
}

ion-card-header,
ion-card-content {
  padding: 15px;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
  .config-title {
    font-size: 1.6rem;
  }

  .profile-img {
    width: 100px;
    height: 100px;
  }

  ion-item {
    font-size: 0.9rem;
  }

  .save-button {
    font-size: 1rem;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .config-title {
    font-size: 1.4rem;
  }

  .profile-img {
    width: 80px;
    height: 80px;
  }

  .save-button {
    font-size: 0.9rem;
    padding: 8px;
  }
}
