<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Contenedor principal para centrar -->
<ion-content id="main-content">
  <div class="center-container"> 
    <div class="form-container" *ngIf="user">
      <!-- Imagen de usuario -->
      <div class="profile-image-container">
        <img id="default-image" [src]="'assets/images/user.png'" alt="Imagen de usuario">
      </div>

      <h2>Editar Cuenta</h2>

      <form (ngSubmit)="updateUser()">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input [(ngModel)]="user.nombre" name="nombre" required [disabled]="!isEditing"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input [(ngModel)]="user.usuario" name="usuario" required [disabled]="!isEditing"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input [(ngModel)]="user.password" name="password" type="password" required [disabled]="true"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="user.email" name="email" type="email" required [disabled]="!isEditing"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Teléfono</ion-label>
          <ion-input [(ngModel)]="user.telefono" name="telefono" required [disabled]="!isEditing"></ion-input>
        </ion-item>

        <!-- Botones de acción -->
        <div class="button-group">
          <ion-button expand="full" color="primary" type="submit" [disabled]="!isEditing || isLoading">
            <ion-spinner *ngIf="isLoading" slot="start"></ion-spinner>
            Actualizar Usuario
          </ion-button>
          <ion-button expand="full" color="warning" (click)="toggleEdit()">
            {{ isEditing ? 'Cancelar' : 'Editar' }}
          </ion-button>
          <ion-button expand="full" color="danger" (click)="deleteUser()">Eliminar Cuenta</ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
