<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Configuracion</ion-title>
  </ion-toolbar>
</ion-header><br><br>

<!-- Contenido principal -->
<ion-content id="main-content">
  <div class="form-container">
    <form (ngSubmit)="updateUser()">
      <!-- Imagen de usuario por defecto -->
      <img id="default-image" src="assets/images/user.png" alt="Imagen de usuario" />
      <h2>Editar Cuenta</h2>
  
      <ion-item>
        <ion-label position="floating">Nombre:</ion-label>
        <ion-input [(ngModel)]="user.nombre" name="nombre" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Usuario:</ion-label>
        <ion-input [(ngModel)]="user.usuario" name="usuario" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Contraseña:</ion-label>
        <ion-input [(ngModel)]="user.password" name="password" type="password" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Email:</ion-label>
        <ion-input [(ngModel)]="user.email" name="email" type="email" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Teléfono:</ion-label>
        <ion-input [(ngModel)]="user.telefono" name="telefono" required></ion-input>
      </ion-item>

      <ion-button expand="full" color="danger" type="submit">Actualizar Usuario</ion-button>
    </form>
  </div>
</ion-content>
