<ion-header>
    <ion-toolbar>
      <ion-title>Registrar Ubicación</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="dismiss()">Cerrar</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <ion-item>
      <ion-label position="stacked">Nombre de la tienda</ion-label>
      <ion-input [(ngModel)]="nombre_tienda"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Latitud</ion-label>
      <ion-note slot="end">{{ lat }}</ion-note>
    </ion-item>
  
    <ion-item>
      <ion-label>Longitud</ion-label>
      <ion-note slot="end">{{ lon }}</ion-note>
    </ion-item>
  
    <ion-button expand="block" color="success" (click)="confirmar()">
      Confirmar registro
    </ion-button>
  </ion-content>
  