<ion-header>
  <ion-toolbar>
    <ion-title>Motivo del Rechazo</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- ROJO -->
  <ng-container *ngIf="!rechazoAmarillo && !rechazoVerde || rechazoRojo">
    <ion-item class="rojo">
      <ion-label class="rojo-label">Motivos (Rojo)</ion-label>
      <ion-select [(ngModel)]="rechazoRojo" placeholder="Selecciona una opción" (ionChange)="onSeleccion('rojo')">
        <ion-select-option *ngFor="let motivo of motivosRojo" [value]="motivo">{{ motivo }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="rechazoRojo === 'Otra causa de rechazo.'" class="rojo">
      <ion-input [(ngModel)]="comentarioRojo" placeholder="Escribe el motivo..."></ion-input>
    </ion-item>
  </ng-container>

  <!-- AMARILLO -->
   <br>
  <ng-container *ngIf="!rechazoRojo && !rechazoVerde || rechazoAmarillo">
    <ion-item class="amarillo">
      <ion-label class="amarillo-label">Motivos (Amarillo)</ion-label>
      <ion-select [(ngModel)]="rechazoAmarillo" placeholder="Selecciona una opción" (ionChange)="onSeleccion('amarillo')">
        <ion-select-option *ngFor="let motivo of motivosAmarillo" [value]="motivo">{{ motivo }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="rechazoAmarillo === 'Otra causa de rechazo momentáneo'" class="amarillo">
      <ion-input [(ngModel)]="comentarioAmarillo" placeholder="Escribe el motivo temporal..."></ion-input>
    </ion-item>
  </ng-container>

  <!-- VERDE -->
   <br>
  <ng-container *ngIf="!rechazoRojo && !rechazoAmarillo || rechazoVerde">
    <ion-item class="verde">
      <ion-label class="verde-label">Motivos (Verde)</ion-label>
      <ion-select [(ngModel)]="rechazoVerde" placeholder="Selecciona una opción" (ionChange)="onSeleccion('verde')">
        <ion-select-option *ngFor="let motivo of motivosVerde" [value]="motivo">{{ motivo }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="rechazoVerde === 'Puedes dejarnos un comentario aqui...'" class="verde">
      <ion-input [(ngModel)]="comentarioVerde" placeholder="Escribe el comentario del cliente..."></ion-input>
    </ion-item>
  </ng-container>


 <br>
 <br>
 <br>
 
 <ion-col size="6" *ngIf="motivoSeleccionado">
  <ion-button expand="full" color="medium" (click)="cancelarSeleccion()">Cancelar</ion-button>
</ion-col>
<ion-col size="6">
  <ion-button expand="full" color="primary" (click)="confirmarRechazo()">Confirmar</ion-button>
</ion-col>
 

  



</ion-content>
