.seccion {
    font-weight: bold;
    margin: 16px 0 8px 10px;
    display: block;
    font-size: 1rem;
  }
  
  .rojo {
    --ion-item-background: #ffe5e5;
    ion-label {
      color: #d32f2f;
    }
  }
  
  .amarillo {
    --ion-item-background: #fff8e1;
    ion-label {
      color: #f9a825;
    }
  }
  
  .verde {
    --ion-item-background: #e8f5e9;
    ion-label {
      color: #388e3c;
    }
  }
  