.meta-titulo {
    font-size: 1.6rem;
    font-weight: bold;
    color: #4caf50; /* Color verde para el título */
  }

  .meta-subtitulo {
    font-size: 1.2rem;
    color: #333;
  }

  .barra-meta {
    height: 10px;
    border-radius: 5px;
    margin-top: 20px;
  }

  .progreso-texto {
    font-size: 1rem;
    font-weight: bold;
    color: #4caf50;
    margin-top: 10px;
  }

  ion-button {
    margin-top: 20px;
  }