<ion-content [fullscreen]="true">
  <app-header></app-header>

  <!-- Banner de la Página -->
  <div class="page-banner">
    <h1>Preventa</h1>
    <p>Descubre quiénes somos y qué nos inspira...</p>
  </div>

  <!-- Botón integrado -->
  <div class="button-container">
    <ion-button expand="block" color="danger" (click)="navigateToMapa()">
      <ion-icon name="map" slot="start"></ion-icon>
      Ver Mapa
    </ion-button>
  </div>
  
  <!-- Footer -->
  <app-footer></app-footer>
</ion-content>
