<app-header></app-header>

<ion-content class="content">
  <!-- Contenedor de la vista principal -->
  <div class="main-container">
    
    <!-- Título y descripción -->
    <section class="title-section">
      <h2>Preventa: Encontrar la Mejor Ruta</h2>
      <p>Encuentra la mejor ruta a seguir y organiza las tiendas en orden geográfico.</p>
    </section>

    <!-- Botón para encontrar la mejor ruta -->
    <section class="button-section">
      <ion-button expand="full" (click)="findBestRoute()" class="find-route-button">
        <ion-icon name="navigate" slot="start"></ion-icon>
        Encontrar Mejor Ruta
      </ion-button>
    </section>

    <!-- Contenedor del mapa -->
    <section class="map-section">
      <div id="map" class="map-container"></div>
    </section>
  </div>
</ion-content>
