.fondo {
  --background: #ffe4e1; /* Fondo rosa muy suave */
}

.tarjeta {
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background: white;
  margin: 20px;
}

.titulo {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #c71585; /* Rosa fuerte */
}

.etiqueta {
  color: #d63384; /* Rosa oscuro */
  font-weight: 500;
  font-size: 30px;
}

.input {
  color:#000;
  font-size: 20px;
}

.boton-guardar {
  background: #d63384;
  color: white;
  border-radius: 8px;
  font-weight: bold;
}

.icono-cerrar {
  font-size: 24px;
  color: #d63384;
}

.botones {
  text-align: center;
  margin-top: 15px;
}