ion-header {
    background-color: #f8bbd0;  /* Rosa claro */
  }
  
  ion-toolbar {
    background-color: #f48fb1; /* Rosa medio */
  }
  
  ion-title {
    color: #ffffff; /* Texto blanco */
  }
  
  ion-item {
    margin-bottom: 16px;
  }
  
  ion-input,
  ion-select {
    background-color: #ffe0f0; /* Fondo rosa claro */
    border-radius: 8px;
    padding: 10px;
  }
  
  ion-button {
    margin-top: 16px;
    border-radius: 12px;
  }
  
  ion-button[color="primary"] {
    background-color: #f06292; /* Rosa fuerte */
    color: white;
  }
  
  ion-button[color="danger"] {
    background-color: #e91e63; /* Rosa intenso para eliminar */
    color: white;
  }
  
  ion-button:active {
    background-color: #d81b60; /* Rosa más oscuro al presionar */
  }
  