<ion-header>
  <ion-toolbar>
    <ion-title>Editar Usuario</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="updateUser()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="user.usuario" name="name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input [(ngModel)]="user.email" name="email" type="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Tipo de usuario</ion-label>
      <ion-select [(ngModel)]="user.tipo_usuario" name="tipo_usuario" required>
        <ion-select-option value="administrador">Administrador</ion-select-option>
        <ion-select-option value="cliente">Cliente</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="full" color="primary" type="submit">Guardar Cambios</ion-button>
  </form>
</ion-content>
