<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-container">
    <div class="form-wrapper">
      <!-- Logo -->
      <div class="logo-container">
        <img src="assets/images/Logo.png" alt="Logo" class="logo" />
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login-form">
        <div class="input-group">
          <h2>Email:</h2>
          <ion-item>
            <ion-input formControlName="email" type="email" required placeholder="Ingresa tu email"></ion-input>
          </ion-item>
        </div>

        <div class="input-group">
          <h2>Contraseña:</h2>
          <ion-item>
            <ion-input formControlName="password"  placeholder="Ingresa tu contraseña " type="password" required></ion-input>
          </ion-item>
        </div>

        <ion-button expand="block" color="danger" type="submit"  class="submit-btn">
          Iniciar Sesión
        </ion-button>

        <!-- Enlace para registrarse -->
        <div class="register-link">
          <p>¿No tienes cuenta? <a (click)="goToRegister()">Regístrate aquí</a></p>
        </div> <br>

        <div class="register-link">
          <p>¿Olvidaste tu contraseña? <a (click)="goToActualizar()">Actualizar Contraseña</a></p>
        </div>
      </form>
    </div>
  </div>
</ion-content>
