<ion-app>
  <ion-menu content-id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <!-- Botón de hamburguesa -->
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="header-left">
          <img src="assets/images/Logo.png" alt="Mi Crush de Calvillo" class="logo-img" />
          <ion-title class="header-title">Menú</ion-title>
        </div>
      </ion-toolbar>
    </ion-header>
    
    <ion-content>
      <ion-list>

        <ion-item button (click)="goToHome()">
          <ion-icon name="home" slot="start"></ion-icon> Home
        </ion-item>        

        <ion-item button (click)="goToMisPedidos()">
          <ion-icon name="person" slot="start"></ion-icon> Mis Pedidos
        </ion-item>
        

        <ion-item *ngIf="isAdmin" button (click)="goToUser()">
          <ion-icon name="person" slot="start"></ion-icon> Usuarios
        </ion-item>
        
        <ion-item *ngIf="isAdmin" button (click)="goToTienda()">
          <ion-icon name="storefront" slot="start"></ion-icon> Tiendas
        </ion-item>
        
        <ion-item *ngIf="isAdmin" button (click)="goToPedidos()">
          <ion-icon name="boat" slot="start"></ion-icon> Pedidos
        </ion-item>
        
        <ion-item *ngIf="isAdmin" button (click)="goToContacto()">
          <ion-icon name="person" slot="start"></ion-icon> Contáctanos
        </ion-item>
        
        <ion-item *ngIf="isAdmin" button (click)="goToHistorial()">
          <ion-icon name="time" slot="start"></ion-icon> Check Entradas/ Salidas
        </ion-item>

        <ion-item *ngIf="isAdmin" button (click)="goToRepartidorVentas()">
          <ion-icon name="person" slot="start"></ion-icon> Repartidores
        </ion-item>

        <ion-item *ngIf="isAdmin" button (click)="goToEstadisticas()">
          <ion-icon name="bar-chart" slot="start"></ion-icon> Estadisticas
        </ion-item>        

        <ion-item button (click)="goToConfiguracion()">
          <ion-icon name="settings" slot="start"></ion-icon> Configuración
        </ion-item>
        
        <!--<ion-item button (click)="goToPoster()">
          <ion-icon name="map" slot="start"></ion-icon> Poster
        </ion-item>
        <ion-item button (click)="goToEventos()">
          <ion-icon name="map" slot="start"></ion-icon> Eventos
        </ion-item>
      -->
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
