<ion-app>
  <ion-menu content-id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <!-- Botón de hamburguesa -->
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="header-left">
          <ion-title class="header-title">
            <p>
              Menú
            </p></ion-title>
        </div>
      </ion-toolbar>
    </ion-header>
    
    <ion-content>
      <ion-list>

        <ion-item button (click)="goToHome()">
          <ion-icon name="home" slot="start"></ion-icon> 
          <p>Home</p>
        </ion-item>        


        <!----
        <ion-item button (click)="goToMisPedidos()">
          <ion-icon name="person" slot="start"></ion-icon> Mis Pedidos
        </ion-item>
        -->
        

        <ion-item *ngIf="isAdmin" button (click)="goToUser()">
          <ion-icon name="person" slot="start"></ion-icon>
          <p>Usuarios</p> 
        </ion-item>
        
        <!---
        <ion-item *ngIf="isAdmin" button (click)="goToTienda()">
          <ion-icon name="storefront" slot="start"></ion-icon>
          <p> Tiendas </p> 
        </ion-item> -->
        
        <ion-item *ngIf="isAdmin || isEmpleado" button (click)="goToPedidos()">
          <ion-icon name="boat" slot="start"></ion-icon> 
          <p>Pedidos</p>
        </ion-item> 
        
             <!---
        <ion-item *ngIf="isAdmin || isEmpleado" button (click)="goToContacto()">
          <ion-icon name="person" slot="start"></ion-icon> Contáctanos
        </ion-item> -->
        
        <!--
        <ion-item *ngIf="isAdmin" button (click)="goToHistorial()">
          <ion-icon name="time" slot="start"></ion-icon> Check Entradas/ Salidas
        </ion-item> -->
        <ion-item *ngIf="isAdmin" button (click)="goToRepartidorVentas()">
          <ion-icon name="person" slot="start"></ion-icon>
          <p>Ventas-Representantes de Marca</p>
        </ion-item>
        
        <ion-item *ngIf="isAdmin " button (click)="goToEstadisticas()">
          <ion-icon name="bar-chart" slot="start"></ion-icon>
          <p>Estadísticas</p>
        </ion-item>
        
        <ion-item *ngIf="isAdmin || isEmpleado" button (click)="goToFotos()">
          <ion-icon name="image" slot="start"></ion-icon>
          <p>Fotos Almacén</p>
        </ion-item>
        
        <ion-item button (click)="goToConfiguracion()">
          <ion-icon name="settings" slot="start"></ion-icon>
          <p>Configuración</p>
        </ion-item>
        
    
        <!--<ion-item button (click)="goToPoster()">
          <ion-icon name="map" slot="start"></ion-icon> Poster
        </ion-item>
        <ion-item button (click)="goToEventos()">
          <ion-icon name="map" slot="start"></ion-icon> Eventos
        </ion-item>
      -->
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
