<ion-app>
  <ion-menu content-id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <!-- Botón de hamburguesa -->
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="header-left">
          <img src="assets/images/Logo.png" alt="Mi Crush de Calvillo" class="logo-img" />
          <ion-title class="header-title">Menú</ion-title>
        </div>
      </ion-toolbar>
    </ion-header>
    
    <ion-content>
      <ion-list>
        <ion-item button (click)="goToUser()">
          <ion-icon name="person" slot="start"></ion-icon> Usuarios
        </ion-item>
        <ion-item button (click)="goToPreventa()">
          <ion-icon name="storefront" slot="start"></ion-icon> Tiendas
        </ion-item>
        <ion-item button (click)="goToReparto()">
          <ion-icon name="car" slot="start"></ion-icon> Pedidos
        </ion-item>
        <ion-item button (click)="goToRutas()">
          <ion-icon name="map" slot="start"></ion-icon> Eventos
        </ion-item>
        <ion-item button (click)="goToEnvios()">
          <ion-icon name="boat" slot="start"></ion-icon> Envíos
        </ion-item>
        <ion-item button (click)="goToContacto()">
          <ion-icon name="person" slot="start"></ion-icon> Contáctanos
        </ion-item>
          <ion-item button (click)="goToConfiguracion()">
            <ion-icon name="settings" slot="start"></ion-icon> Configuración
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
