<ion-header>
  <ion-toolbar>
    <ion-title>Registrar Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="register-container">
    <div class="form-wrapper">
      <!-- Logo -->
      <div class="logo-container">
        <img src="assets/images/Logo.png" alt="Logo" class="logo" />
      </div>

      <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="register-form">
        <div class="input-group">
          <h2>Nombre Completo:</h2>
          <ion-item>
            <ion-input formControlName="nombre" placeholder="Ingresa tu nombre completo" type="text" required></ion-input>
          </ion-item>
        </div>

        <div class="input-group">
          <h2>Usuario:</h2>
          <ion-item>
            <ion-input formControlName="usuario" placeholder="Ingresa tu usuario" type="text" required></ion-input>
          </ion-item>
        </div>

        <div class="input-group">
          <h2>Email:</h2>
          <ion-item>
            <ion-input formControlName="email" type="email" placeholder="Ingresa tu email" required></ion-input>
          </ion-item>
        </div>

        <div class="input-group">
          <h2>Telefono:</h2>
          <ion-item>
            <ion-input formControlName="telefono" type="text" placeholder="xxx-xxx-xxxx" required></ion-input>
          </ion-item>
        </div>

        <div class="input-group">
         <h2>Contraseña:</h2>
          <ion-item>
            <ion-input formControlName="password" color="#000" placeholder="***********" type="password" required></ion-input>
          </ion-item>
        </div>

        <ion-button expand="block" color="danger" type="submit" class="submit-btn">
          Registrarse
        </ion-button>

        <!-- Enlace para iniciar sesión -->
        <div class="login-link">
          <p>¿Ya tienes una cuenta? <a (click)="goToLogin()">Inicia sesión aquí</a></p>
        </div>
      </form>
    </div>
  </div>
</ion-content>
