<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Tienda</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-label position="floating">Nombre de la Tienda</ion-label>
      <ion-input [(ngModel)]="name" placeholder="Nombre de la tienda"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Latitud</ion-label>
      <ion-input [(ngModel)]="lat" type="number" placeholder="Latitud"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Longitud</ion-label>
      <ion-input [(ngModel)]="lon" type="number" placeholder="Longitud"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Estado</ion-label>
      <ion-select [(ngModel)]="state">
        <ion-select-option value="Recurrente">Recurrente</ion-select-option>
        <ion-select-option value="Poco recurrente">Poco recurrente</ion-select-option>
        <ion-select-option value="Nada recurrente">Nada recurrente</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="full" (click)="saveStore()">Guardar</ion-button>
  </form>
</ion-content>
