.map-container {
  position: relative;
  width: 100%;
  height: 500px;
  margin-top: 10px;
}

.page-banner {
  text-align: center;
  padding: 2rem 1rem;
  background:  red;
  color: white;
  border-radius: 0 0 20px 20px; /* Bordes redondeados inferiores */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
  animation: fadeInDown 1s ease-in-out;

  h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.2rem;
    margin: 0;
    font-weight: bold;
  }

  p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin: 0.5rem 0 0;
  }
}

/* Animación de entrada */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #e0e0e0;
}

ion-list {
  margin-top: 20px;
  padding: 0;
}

ion-item {
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 12px;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  ion-label {
    color: #333;
    font-weight: 600;
  }

  p {
    font-size: 13px;
    color: #666;
    margin: 4px 0;
  }

  strong {
    color: #444;
  }

  .entry-info {
    margin-bottom: 12px;
  }
}

.date-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.date-container h2 {
  font-size: 16px;
  font-weight: bold;
  color: #222;
}

.date-container ion-input {
  width: 45%;
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
  margin-top: 10px;
}

.date-container ion-button {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  margin-top: 10px;
  width: 45%;
}

.date-container ion-button:hover {
  background-color: #0056b3;
}

.entry-header {
  font-size: 1.2rem;
  font-weight: bold;
  color: #4caf50;
  margin-bottom: 12px;
}

.entry-time {
  font-size: 1rem;
  color: #555;
  margin-bottom: 6px;
}

.entry-info {
  font-size: 1rem;
  color: #777;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #222;
}

p {
  font-size: 14px;
  color: #555;
  margin-bottom: 6px;
}

strong {
  font-weight: bold;
  color: #333;
}

ion-input {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
  margin-top: 10px;

  &::placeholder {
    color: #999;
  }
}

ion-button {
  margin-top: 20px;
}
