<ion-content [fullscreen]="true">
  <app-header></app-header>

  <div class="contact-page">
    <div class="page-banner">
      <h1>Contáctanos</h1>
      <p>Estamos aquí para ayudarte. Completa el formulario o usa la información de contacto a continuación.</p>
    </div>

    <div class="form-container">
      <form [formGroup]="contactoForm" (ngSubmit)="enviarMensaje()">
        <!-- Nombre -->
        <ion-item>
          <ion-label position="floating" for="nombre">Nombre</ion-label>
          <ion-input id="nombre" formControlName="nombre" type="text" placeholder="Escribe tu nombre completo"></ion-input>
        </ion-item>

        <!-- Correo Electrónico -->
        <ion-item>
          <ion-label position="floating" for="email">Correo Electrónico</ion-label>
          <ion-input id="email" formControlName="email" type="email" placeholder="Ingresa tu email con el cual estas registrado"></ion-input>
        </ion-item>

        <!-- Correo Electrónico -->
        <ion-item>
          <ion-label position="floating" for="telefono">Telefono</ion-label>
          <ion-input id="telefono" formControlName="telefono" type="telefono" placeholder="Ingresa tu telefono"></ion-input>
        </ion-item>

        <!-- Descripción/Mensaje -->
        <ion-item>
          <ion-label position="floating" for="descripcion">Mensaje</ion-label>
          <ion-textarea id="descripcion" formControlName="descripcion" placeholder="Escribe tu mensaje aquí"></ion-textarea>
        </ion-item>

        <!-- Botón de envío -->
        <ion-button expand="block" color="danger" type="submit">Enviar Mensaje</ion-button>
      </form>
    </div>
  </div><br><br>

  <app-footer></app-footer>
</ion-content>
