<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>
  <ion-list *ngIf="groupedItems.length > 0">
    <ion-item *ngFor="let item of groupedItems">
      <ion-thumbnail slot="start">
        <img [src]="item.imagen" alt="{{ item.nombre }}">
      </ion-thumbnail>
      <ion-list *ngIf="groupedItems.length > 0">
        <ion-item *ngFor="let item of groupedItems">
          {{ item.nombre }} - ${{ item.precio }}
        </ion-item>
      </ion-list>
      <ion-buttons slot="end">
        <ion-button color="primary" (click)="increaseQuantity(item)">+</ion-button>
        <ion-button color="danger" (click)="decreaseQuantity(item)">-</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <div *ngIf="groupedItems.length === 0" class="empty-cart">
    <p>No tienes productos en el carrito.</p>
    <ion-button expand="block" (click)="goToTienda()">Ir a la tienda</ion-button>
  </div>

  <div class="cart-summary" *ngIf="groupedItems.length > 0">
    <h2>Total: ${{ total }}</h2>
    <ion-button expand="block" color="success" (click)="goToCheckout()">Ir al Checkout</ion-button>
  </div>
</ion-content>
