<ion-content [fullscreen]="true">
  <app-header></app-header>

  <!-- Encabezado de la página -->
  <div class="page-banner">
    <h1>Eventos</h1>
    <p>¡Conoce nuestros próximos eventos y regístralos!</p>
  </div>

  <!-- Carrusel de Eventos -->
  <section>
    <app-event-carousel></app-event-carousel>
  </section>

  <!-- Formulario de Registro de Evento -->
  <section class="event-registration-section">
    <h2>Quieres tener tu propio evento</h2>
    <p>Llena el siguiente formulario para agendar un nuevo con nosotros.</p>
    <app-registarevento (formSubmitted)="handleEventForm($event)"></app-registarevento>
  </section>

  <app-footer></app-footer>
</ion-content>
