/* General Styling */
ion-content {
  --background: linear-gradient(135deg, #f9f6f8, #ffe6f2);
  color: #333;
}
  /* Banner de la página */
.page-banner {
  text-align: center;
  padding: 2rem 1rem;
  background: linear-gradient(135deg, #f9a8d4, #fddde6); /* Degradado rosa brillante */
  color: white;
  border-radius: 0 0 20px 20px; /* Bordes redondeados inferiores */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
  animation: fadeInDown 1s ease-in-out;

  h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.2rem;
    margin: 0;
    font-weight: bold;
  }

  p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin: 0.5rem 0 0;
  }
}

.event-registration-section {
  background: rgba(255, 255, 255, 0.9);  /* Fondo blanco semitransparente */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 30px;
  text-align: center;
  margin-bottom: 40px;

  h2 {
    font-size: 2rem;
    color: #d81b60;  /* Rosa suave */
    font-weight: bold;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.1rem;
    color: #757575;
    margin-bottom: 30px;
  }
}