:host {
  display: block;
  width: 100%;
  height: 100%;
}

map {
  width: 100%;     /* Asegura que el mapa ocupe todo el ancho disponible */
  height: 500px;    /* Asegura que el mapa ocupe toda la altura disponible */
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para darle un toque más atractivo */
  position: absolute;  /* Asegura que el mapa ocupe todo el espacio disponible */
  top: 0;
  left: 0;
}

@media (max-width: 768px) {
  map {
    border-radius: 10px;  /* Ajuste de bordes en pantallas pequeñas */
  }
}
