<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Administración de Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">
  <div class="page-banner">
    <h1>Administra los pedidos</h1>
    <p>En esta sección podrás gestionar todos los pedidos realizados a Mi Crush de Calvillo.</p>
  </div>

  <!-- Kanban -->
  <div class="kanban-container">
    <!-- Columna Pendiente -->
    <div class="kanban-column pendiente">
      <h2>Pedidos Pendientes</h2>
      <ion-list *ngIf="pedidosPendientes.length > 0; else noPedidosPendientes">
        <ion-item *ngFor="let compra of pedidosPendientes" [ngClass]="{'pedido-card': compra.estado === 'pendiente'}">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Pedido ID: {{ compra.id_compra }}</ion-card-title>
              <ion-card-subtitle>{{ compra.fecha_compra | date: 'medium' }}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <div class="pedido-details">
                <p><strong>Cliente:</strong> {{ usuarios[compra.usuario_id]?.nombre}}</p>
                
                <p><strong>Usuario:</strong> {{ usuarios[compra.usuario_id]?.usuario  }}</p>
                <p><strong>Correo:</strong> {{ usuarios[compra.usuario_id]?.email  }}</p>
                <p><strong>Teléfono:</strong> {{ usuarios[compra.usuario_id]?.telefono }}</p>
                <p><strong>Dirección:</strong> {{ compra.direccion }}</p>
                <p><strong>Total:</strong> ${{ compra.total }}</p> 
                
                <p *ngIf="compra.latitud && compra.longitud">
                  <strong>Ubicación:</strong>
                  <a [href]=" generarRutaGoogleMaps(compra.latitud, compra.longitud)" target="_blank">Ver en Google Maps</a>
                </p>

                <ion-button expand="full" color="primary" (click)="abrirModalProductos(compra.productos)">
                  Ver Productos
                </ion-button>

                <ion-button expand="full" color="danger" (click)="abrirModal(compra)">Cambiar Estado</ion-button>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-item>
      </ion-list>
      <ng-template #noPedidosPendientes>
        <p>No hay pedidos pendientes.</p>
      </ng-template>
    </div>

    <!-- Columna En Proceso -->
    <div class="kanban-column en-proceso">
      <h2>Pedidos En Proceso</h2>
      <ion-list *ngIf="pedidosEn_proceso.length > 0; else noPedidosEnProceso">
        <ion-item *ngFor="let compra of pedidosEn_proceso" [ngClass]="{'pedido-card': compra.estado === 'en_proceso'}">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Pedido ID: {{ compra.id_compra }}</ion-card-title>
              <ion-card-subtitle>{{ compra.fecha_compra | date: 'medium' }}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <div class="pedido-details">
                <p><strong>Cliente:</strong> {{ usuarios[compra.usuario_id]?.nombre  }}</p>
                <p><strong>Usuario:</strong> {{ usuarios[compra.usuario_id]?.usuario }}</p>
                <p><strong>Correo:</strong> {{ usuarios[compra.usuario_id]?.email   }}</p>
                <p><strong>Teléfono:</strong> {{ usuarios[compra.usuario_id]?.telefono  }}</p>
                <p><strong>Dirección:</strong> {{ compra.direccion }}</p>
                <p><strong>Total:</strong> ${{ compra.total }}</p>

                <p *ngIf="compra.latitud && compra.longitud">
                  <strong>Ubicación:</strong>
                  <a [href]="  generarRutaGoogleMaps(compra.latitud, compra.longitud)" target="_blank">Ver en Google Maps</a>
                </p>

                <ion-button expand="full" color="primary" (click)="abrirModalProductos(compra.productos)">
                  Ver Productos
                </ion-button>

                <ion-button expand="full" color="warning" (click)="abrirModal(compra)">Cambiar Estado</ion-button>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-item>
      </ion-list>
      <ng-template #noPedidosEnProceso>
        <p>No hay pedidos en proceso.</p>
      </ng-template>
    </div>

    <!-- Columna Completados -->
    <div class="kanban-column completados">
      <h2>Pedidos Completados</h2>
      <ion-list *ngIf="pedidosCompletados.length > 0; else noPedidosCompletados">
        <ion-item *ngFor="let compra of pedidosCompletados" [ngClass]="{'pedido-card': compra.estado === 'completada'}">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Pedido ID: {{ compra.id_compra }}</ion-card-title>
              <ion-card-subtitle>{{ compra.fecha_compra | date: 'medium' }}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <div class="pedido-details">
                <p><strong>Cliente:</strong> {{ usuarios[compra.usuario_id]?.nombre  }}</p>
                <p><strong>Usuario:</strong> {{ usuarios[compra.usuario_id]?.usuario  }}</p>
                <p><strong>Correo:</strong> {{ usuarios[compra.usuario_id]?.email  }}</p>
                <p><strong>Teléfono:</strong> {{ usuarios[compra.usuario_id]?.telefono  }}</p>
                <p><strong>Dirección:</strong> {{ compra.direccion }}</p>
                <p><strong>Total:</strong> ${{ compra.total }}</p>
                <p *ngIf="compra.latitud && compra.longitud">
                  <strong>Ubicación:</strong>
                  <a [href]="  generarRutaGoogleMaps(compra.latitud, compra.longitud)" target="_blank">Ver en Google Maps</a>
                </p>

                <ion-button expand="full" color="primary" (click)="abrirModalProductos(compra.productos)">
                  Ver Productos
                </ion-button>

                <ion-button expand="full" color="success" (click)="abrirModal(compra)">Cambiar Estado</ion-button>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-item>
      </ion-list>
      <ng-template #noPedidosCompletados>
        <p>No hay pedidos completados.</p>
      </ng-template>
    </div>
  </div>

  <!-- Modal para Cambiar Estado -->
  <ion-modal [isOpen]="modalAbierto" (didDismiss)="cerrarModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Cambiar Estado del Pedido</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="cerrarModal()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="modal-content">
        <ion-item>
          <ion-label class="modal-label">Nuevo Estado</ion-label>
          <ion-select [(ngModel)]="estadoSeleccionado" class="modal-select">
            <ion-select-option value="pendiente">Pendiente</ion-select-option>
            <ion-select-option value="en_proceso">En Proceso</ion-select-option>
            <ion-select-option value="completada">Completado</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button expand="full" color="danger" (click)="actualizarEstado()">Actualizar Estado</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>


<!-- Modal para ver productos -->
<!-- Modal para ver productos -->
<ion-modal [isOpen]="modalProductosAbierto" (didDismiss)="cerrarModalProductos()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title class="modal-title">Productos del Pedido</ion-title>
        <ion-buttons slot="end">
          <ion-button class="close-button" (click)="cerrarModalProductos()">Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="modal-content">
      <ion-list class="product-list">
        <ion-item *ngFor="let producto of productosSeleccionados" class="product-item">
          <ion-label class="product-label">
            <div class="product-info">
              <!-- Verificar si la imagen base64 existe -->
              <img *ngIf="producto.imagen" [src]="producto.imagen" alt="{{ producto.nombre }}" class="product-image" />
              <div class="product-details">
                <p class="product-name"><strong>Producto:</strong> {{ producto.nombre }}</p>
                <p class="product-quantity"><strong>Cantidad:</strong> {{ producto.cantidad }}</p>
                <p class="product-price"><strong>Precio:</strong> ${{ producto.precio_unitario }}</p>
              </div>
            </div>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>




</ion-content>
