<ion-content [fullscreen]="true" class="content-wrapper">
  <app-header></app-header> <br><br>

  <div class="map-container">
    <div id="map"></div> <!-- Aquí agregamos una clase para los estilos -->
  </div>

  <!-- Botón para obtener ubicación con el mismo estilo que el de registrar -->
  <ion-button expand="block" color="primary" (click)="getLocationAndAddMarker()" style="margin: 16px;">
    Obtener ubicación
  </ion-button>

  <!-- Botón para registrar ubicación -->
  <ion-button expand="block" color="success" (click)="registrarUbicacion()" style="margin: 16px;">
    Registrar ubicación
  </ion-button>

  <!-- Botón para ver la ruta en Google Maps -->
  <ion-button expand="block" color="success" (click)="abrirRutaEnGoogleMaps()" style="margin: 16px;">
    Ver Ruta en Google Maps
  </ion-button>

  <!-- Botón para abrir modal con los datos de la última ubicación -->
  <ion-button expand="block" color="warning" (click)="abrirModalRechazo()" style="margin: 16px;">
    NO VENTA
  </ion-button>

  <!-- Botón para recargar la página -->
  <ion-button expand="block" color="success" class="reload-button" (click)="recargarPagina()" style="margin: 16px;">
    Recargar Página
  </ion-button>

</ion-content>
